*{
    box-sizing: border-box;

}
html{

}

body{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
    background-color: aliceblue;
    overflow-x:hidden;
    scroll-behavior: smooth !important;
    overflow-y: scroll;

}

header{
    text-align:center;

}
.container-1{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:-10px;
    text-align: center;
}
.label-1{
    margin:auto;
    width:95%;
}
.info-container{
   display: flex;
   grid-area: b;
}

.container-2{
    margin:auto;
    margin-top:10px;
    width:60vw;
    height:65vh;
    position: relative;
    
}
canvas{
    width:100%;
    height:100%;
}

.data-container{
    margin-right:20px;
    text-align:center;

}
.data-container p{
    font-size:20px;
    margin:10px;
}
.data-container span{
    font-size:20px;
}
.cases p{
    color:#0e75b9;
}
.recoveries p{
    color:rgb(13, 165, 59);
}
.deaths p{
    color:rgb(228, 13, 13);
}
select{
    background-color:#e6e5e5;
    min-height:28px;
    color:#2f2f2f;
    font-size:16px;
}

.chart-type-container{
    display:flex;
    flex-direction: column;
    text-align: center;
    z-index:2;
    grid-area:c;
}

.chart-type-container select{
    width:75px;
    margin:5px;
}
.other-container{
    display:flex;
    justify-content: space-between;
    position: relative;
    margin-top:10px;
    margin:auto;

}
.other-container div{
margin: 0 20px;
}

.extra-country-container{
display:flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
grid-area: a;
}
@media(max-width:800px){
    .extra-country-container select{
        width:130px;
        font-size:13px;
    }
}
@media(max-width:610px){

}
@media(max-width:550px){
    .other-container{
        display:grid;
        grid-template-rows: repeat(3,1fr);
        place-items: center;
        position:static;
        margin-left:0;
        grid-template-areas: 
        "a"
        "c"
        "b";
        margin:auto;
    }
    .extra-country-container{
    flex-direction: row;
    text-align: left;

    }
    .container-2{
     width:80vw;
 }
    
}
@media(max-width:372px){
    .container-1 label {
        font-size:13px;
    }
    .other-container{
        margin-left:0;
    }
    header {
        width:99%;
        margin:auto;
    }
    .container-2{
        width:95vw;
        margin:auto;
    }
}